[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
psycopg = {extras = ["binary"], version = "*"}
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
server = "uvicorn src.main:app --reload --port 8000"
create_database = "python src/scripts/create_database.py"